<%- include('../includes/header.ejs') %>
    <%- include('../includes/navbar.ejs') %>
    <main>
        <% if(cart.products.length > 0) { %>
            <div class="grid">
                <% cart.products.forEach(product => { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img scr="/" alt="<%= product.title %>"/>
                        </div>
                        <div class="card__content">
                            <h2 class="product__qty">Qty : <%= product.qty %></h2>
                            <h2 class="product__price">$<%= product.price %></h2>
                            <p class="product__description"><%= product.description %></p>
                            <form action="/remove-cart-item" method="POST">
                                <input type="hidden" name="id" value="<%= product.id %>">
                                <button type="submit">Remove</button>
                            </form>
                        </div>
                    </article>
                <% }) %>
                <h3>Cart Total:</h3>
                <p><%= cart.totalPrice %></p>
            </div>
        <% }else{ %>
            <h1>No Products</h1>
        <% } %>
    </main>
<%- include('../includes/footer.ejs') %>